# A first workflow to play around with the editor
name: My first Workflow
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  first_job:
    name: My first job
    runs-on: ubuntu-latest
    steps:
      - name: Greet the user
        run: |
          echo "Hello world from ${{ github.actor }}"
          echo "Hello world from ${{ github.ref }}"
      - name: Checkout
        uses: actions/checkout@v6
      - run: tree
